# General
.DS_Store
.AppleDouble
.LSOverride

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
account-mgmt-api/account-mgmt-api


# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out